<div class="row d-flex justify-content-around align-items-center" style="height: 90vh;">
    <div class="col-3">
        <div class="card text-center">
            <div class="card-header">
                Video Chating Application
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="123-123-123">
                        <div class="btn btn-primary my-3 mx-1" (click)="connect()">
                            CONNECT
                        </div>
                        <div class="btn btn-primary my-3 mx-1" (click)="redirectToCreate()">
                            CREATE NEW SECTION 
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>